<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h3> INSPIRATIONAL QUOTES </h3>
		<br><br>
		<a class='btn btn-primary' href='/author/new'>New Author</a>
		<a class='btn btn-danger' href='/logout'>Logout</a>
		<br><br>
		<h4>Welcome <%=user%> to Inspirational Quotes !!!</h4>
	</div>
	<div class='row'>
        <%if(!authors){%>
            <h1 class='col-sm-12 nofound'>Empty database. Please add the first author!</h1>    
        <%}
        else{%>
        	<table>
        		<tr><th>Author</th><th>Action</th></tr>
        		<tr><td colspan="2"><hr/></td></tr>
        		<%authors.forEach(function(author){%>
            		<tr>
            			<td><%=author.firstName%> <%=author.lastName%></td>
            			<td><a href='/author/<%=author.authorId%>'>Info</a> | <a href='/author/<%=author.authorId%>/edit'>Edit</a> | <a href='/author/<%=author.authorId%>/confirmdelete'>Delete</a> </td></tr>
        		<%});%>
        	</table>
        <%}%>
    </div>
</div>

<%- include ('templates/footer'); -%>